@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  max-width: 1440px;
  background-color: #E1D4C9;
  margin: 0 auto;
  font-size: 16px;
  color: #403F3D;
}

/* header start*/

.container {
  padding: 20px 40px;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

a {
  text-decoration-line: none;
  color: #403F3D;
}

.nav-links {
  margin: auto 0;
}

.nav-links-list {
  display: flex;
  gap: 40px;
  align-content: center;
}

.nav-links-list-link {
  cursor: pointer;
  position: relative;
}

.nav-links-list-link:after {
  content: "";
  margin-top: 5px;
  position: absolute;
  left: 0;
  width: 0;
  height: 1.5px;
  display: block;
  background-color: #403F3D;
  transition: all 0.3s ease-out;
}

.nav-links-list-link:hover:after {
  width: 100%;
}

.nav-menu {
  margin: auto 0;
}
 
.nav-menu-inner {
  display: flex;
  align-content: start;
  gap: 8px;
  margin: 0;
}

.nav-menu {
  position: relative;
  cursor: pointer;
}

.nav-menu:after {
  content: "";
  margin-top: 5px;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  display: block;
  background-color: #403F3D;
  transition: all 0.3s ease-out;
}

.nav-menu:hover:after {
  width: 100%;
}

.nav-menu-inner-text img {
  line-height: 150%;
}

/* header end*/

/* enjoy section start*/

.enjoy .container {
  position: relative;
  overflow: hidden;
}

.background-video {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
  object-fit: cover;
}

.enjoy-offer {
  position: absolute;
  top: 120px;
  left: 140px;
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.enjoy-offer-title {
  font-size: 72px;
  line-height: 105%;
  color: #E1D4C9;
}

.enjoy-offer-title i {
  color: #B0907A;
}

.enjoy-offer-subtitle {
  line-height: 150%;
  color: #E1D4C9;
  font-weight: 300;
}

.enjoy-offer-button {
  position: relative;
  background-color: #E1D4C9;
  width: 200px;
  border-radius: 100px;
  line-height: 150%;
  height: 64px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.enjoy-offer-button img {
  position: absolute;
  top: 20px;
  left: 125px;
  visibility: hidden;
  transition: all 0.3s ease-in;
}

.enjoy-offer-button:hover img {
  visibility: inherit;
  margin-right: 0.5px;
}

.enjoy-offer-button:hover {
  padding-right: 10px;
}

/* enjoy section end */

/* favorite section start */

.favorite {
  margin-top: 60px;
}

.favorite-title {
  text-align: center;
  font-size: 60px;
  line-height: 125%;
  margin-bottom: 40px;
}

.favorite-title i {
  color: #B0907A;
}

.favorite-slider {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.favorite-slider-button.left {
  align-self: center;
}

.favorite-slider-center-line {
  text-align: center;
}

.favorite-slider-button.right {
  align-self: center;
  text-align: end;
}

.favorite-slider-center-line-slide img{
  margin-bottom: 20px;
}

.favorite-slider-center-line-slide-desc {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
}

.favorite-slider-center-line-slide-info-name {
  font-size: 24px;
  line-height: 125%;
}

.favorite-slider-center-line-slide-info-desc {
  line-height: 150%;
  font-weight: 300;
}

.favorite-slider-center-line-slide-info-price {
  font-size: 24px;
  line-height: 125%;
}

.favorite-switch-wrapper {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.favorite-switch {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #C1B6AD;
  cursor: pointer;
}



/* favorite section end */