@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  max-width: 1440px;
  background-color: #E1D4C9;
  margin: 0 auto;
  font-size: 16px;
  color: #403F3D;
}

/* header start*/

.container {
  padding: 20px 40px;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

a {
  text-decoration-line: none;
  color: #403F3D;
}

.nav-links {
  margin: auto 0;
}

.nav-links-list {
  display: flex;
  gap: 40px;
  align-content: center;
}

.nav-links-list-link {
  cursor: pointer;
  position: relative;
}

.nav-links-list-link:after {
  content: "";
  margin-top: 5px;
  position: absolute;
  width: 0;
  height: 1.5px;
  display: block;
  background-color: #403F3D;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-out;
}

.nav-links-list-link:hover:after {
  width: 100%;
}

.nav-menu {
  margin: auto 0;
}
 
.nav-menu-inner {
  display: flex;
  align-content: start;
  gap: 8px;
  margin: 0;
}

.nav-menu {
  position: relative;
  cursor: pointer;
}

.nav-menu:after {
  content: "";
  margin-top: 5px;
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background-color: #403F3D;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-out;
}

.nav-menu:hover:after {
  width: 100%;
}

.nav-menu-inner-text img {
  line-height: 150%;
}

/* header end*/

/* enjoy section start*/

.enjoy .container {
  position: relative;
  overflow: hidden;
}

.background-video {
  max-width: 100%;
  min-height: 644px;
  border-radius: 40px;
  object-fit: cover;
}

.enjoy-offer {
  position: absolute;
  top: 120px;
  left: 140px;
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.enjoy-offer-title {
  font-size: 72px;
  line-height: 105%;
  color: #E1D4C9;
}

.enjoy-offer-title i {
  color: #B0907A;
}

.enjoy-offer-subtitle {
  line-height: 150%;
  color: #E1D4C9;
  font-weight: 300;
}

.enjoy-offer-button {
  position: relative;
  background-color: #E1D4C9;
  width: 200px;
  border-radius: 100px;
  line-height: 150%;
  height: 64px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.enjoy-offer-button img {
  position: absolute;
  top: 20px;
  left: 125px;
  visibility: hidden;
  transition: all 0.3s ease-in;
}

.enjoy-offer-button:hover img {
  visibility: inherit;
  margin-right: 0.5px;
}

.enjoy-offer-button:hover {
  padding-right: 10px;
}

/* enjoy section end */

/* favorite section start */

.favorite {
  margin-top: 60px;
  margin-bottom: 100px;
}

.favorite-title {
  text-align: center;
  font-size: 60px;
  line-height: 125%;
  margin-bottom: 40px;
}

.favorite-title i {
  color: #B0907A;
}

.favorite-slider {
  display: grid;
  grid-template-columns: 1fr minmax(348px, 480px) 1fr;
}

.favorite-slider-button.left {
  align-self: center;
}

.arrow {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.arrow.left {
  background: url('../icons/button-icon-left.svg');
}

.arrow.right {
  background: url('../icons/button-icon-right.svg');
}

.arrow.left:hover {
  background: url('../icons/button-icon-left-hover.svg');
}

.arrow.right:hover {
  background: url('../icons/button-icon-right-hover.svg');
}

.favorite-slider-center {
  overflow: hidden;
}

.favorite-slider-center-line {
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.favorite-slider-button.right {
  display: flex;
  align-self: center;
  justify-content: end;
}

.favorite-slider-center-line-slide img{
  margin-bottom: 20px;
}

.favorite-slider-center-line-slide {
  display: flex;
}

.favorite-slider-center-line-slide-info {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
}

.favorite-slider-center-line-slide-info-name {
  font-size: 24px;
  line-height: 125%;
}

.favorite-slider-center-line-slide-info-desc {
  line-height: 150%;
  font-weight: 300;
}

.favorite-slider-center-line-slide-info-price {
  font-size: 24px;
  line-height: 125%;
}

.favorite-switch-wrapper {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.favorite-switch {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #C1B6AD;
  border-radius: 100px;
}

.favorite-switch.active {
  background-color: #665F55;
}

/* favorite section end */

/* cozy section start */

.cozy {
  margin-bottom: 100px;
}

.cozy-title {
  font-weight: 600;
  font-size: 60px;
}

.cozy-title i {
  color: #B0907A;
}

.cozy-gallery {
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.cozy-gallery-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cozy-gallery-wrapper-inner {
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  width: 660px;
}

.cozy-gallery-wrapper-inner img {
  background-size: cover;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.5s ease-out;
}

.cozy-gallery-image {
  border-radius: 20px 20px 20px 20px;
  transform: scale(1.05);
}

.cozy-gallery-wrapper img:hover {
  transform: scale(1.02);
}

/* cozy section end */

/* download section start */

.download {
  margin-bottom: 100px;
}

.download .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.download-column1 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.download-column1-title {
  font-size: 60px;
  line-height: 125%;
}

.download-column1-title i {
  color: #B0907A;
}

.download-column1-desc {
  line-height: 150%;
  font-weight: 300;
}

.download-column1-buttons {
  display: flex;
  gap: 20px;
}

.download-column1-button-apple {
  background: url("../icons/default-apple.svg");
  display: block;
  width: 200px;
  height: 64px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.download-column1-button-apple:hover {
  background: url("../icons/hover-apple.svg");
}

.download-column1-button-google {
  background: url("../icons/default-google.svg");
  display: block;
  width: 200px;
  height: 64px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.download-column1-button-google:hover {
  background: url("../icons/hover-google.svg");
} 

/* download section end */

/* footer start */

.footer {
  margin-bottom: 20px;
}

.footer-columns-wrapper {
  background-color: #665F55;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px;
}

.footer-column1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-column1-title {
  font-size: 60px;
  color: #E1D4C9;
  width: 530px;
}

.footer-column1-title i {
  color: #B0907A;
}

.footer-column1-icons {
  display: flex;
  gap: 12px;
}

.footer-column1-icons-twit {
  background: url("../icons/twitter.svg") no-repeat;
  background-position: center center;
}

.footer-column1-icons-twit:hover {
  background: url("../icons/twitter-hover.svg") no-repeat;
  background-position: center center;
}

.footer-column1-icons-inst {
  background: url("../icons/instagram.svg") no-repeat;
  background-position: center center;
}

.footer-column1-icons-inst:hover {
  background: url("../icons/instagram-hover.svg") no-repeat;
  background-position: center center;
}

.footer-column1-icons-fcb {
  background: url("../icons/facebook.svg") no-repeat;
  background-position: center center;
}

.footer-column1-icons-fcb:hover {
  background: url("../icons/facebook-hover.svg") no-repeat;
  background-position: center center;
}

.footer-column1-icons-twit,
.footer-column1-icons-inst,
.footer-column1-icons-fcb {
  display: block;
  width: 60px;
  height: 60px;
  transition: all 0.5s ease-out;
  cursor: pointer;
  border: 1px solid #E1D4C9;
  border-radius: 100px;
}

.footer-column1-icons-twit:hover ,
.footer-column1-icons-inst:hover ,
.footer-column1-icons-fcb:hover {
  background-color: #E1D4C9;;
}

.footer-column2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-self: center;
}

.footer-column2-text {
  font-size: 24px;
  line-height: 125%;
  color: #E1D4C9;
}

.footer-column2-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 262px;
}

.footer-column2-list-item {
  display: flex;
  gap: 8px;
}

.footer-column2-list-item:not(:last-child) {
  position: relative;
  width: 182px;
}

.footer-column2-list:last-child {
  cursor: auto;
}

.footer-column2-list-item::after {
  position: absolute;
  content: '';
  bottom: -5px;
  display: block;
  width: 0;
  height: 2px;
  background-color: #E1D4C9;
  transform: translateX(-50%);
  left: 50%;
  transition: all 0.5s ease-out;
}

.footer-column2-list-item:hover:after {
  width: 100%;
}

.footer-column2-list-item a {
  color: #E1D4C9;
}

.footer-column2-list-item span {
  width: 20px;
  height: 20px;
  display: block;
}

.footer-column2-list-item-address {
  background: url("../icons/pin-alt.svg");
}

.footer-column2-list-item-phone {
  background: url("../icons/phone.svg");
}

.footer-column2-list-item-time {
  background: url("../icons/clock.svg");
}

/* footer end */

@media (max-width: 1435px) {
  .cozy-gallery {
    grid-template-columns: 1fr;
  } 
  
  .cozy-gallery-wrapper:first-child .cozy-gallery-wrapper-inner:last-child {
    display: none;
  }

  .cozy-gallery-wrapper:last-child .cozy-gallery-wrapper-inner:first-child {
    display: none;
  }

  .cozy-gallery-wrapper-inner {
    margin: 0 auto;
  }
}

@media (max-width: 1180px) {
  .download .container {
    grid-template-columns: 1fr;
    gap: 100px;
  }

  .download-column2 {
    text-align: center;
  }
}

@media (max-width: 1030px) {
  .footer-columns-wrapper {
    grid-template-columns: 1fr;
    gap: 100px;
  }

}