@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  max-width: 1440px;
  background-color: #E1D4C9;
  margin: 0 auto;
  font-size: 16px;
  color: #403F3D;
}

/* header start*/

.container {
  padding: 20px 40px;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

a {
  text-decoration-line: none;
  color: #403F3D;
}

.nav-links {
  margin: auto 0;
}

.nav-links-list {
  display: flex;
  gap: 40px;
  align-content: center;
}

.nav-links-list-link {
  cursor: pointer;
  position: relative;
}

.nav-links-list-link:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 1.5px;
  display: block;
  background-color: #403F3D;
  transition: all 0.3s ease-out;
}

.nav-links-list-link:hover:after {
  width: 100%;
}

.nav-menu {
  margin: auto 0;
}

.nav-menu-inner {
  display: flex;
  gap: 8px;
  align-items: end;
  cursor: pointer;
  margin: 0;
}
 
.nav-menu-inner-text img {
  line-height: 150%;
}

/* header end*/

/* enjoy section start*/

.enjoy .container {
  position: relative;
  overflow: hidden;
}

.background-video {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
  object-fit: cover;
}

.enjoy-offer {
  position: absolute;
  top: 120px;
  left: 140px;
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.enjoy-offer-title {
  font-size: 72px;
  line-height: 105%;
  color: #E1D4C9;
}

.enjoy-offer-title i {
  color: #B0907A;
}
/* enjoy section end*/