.menu .container {
  text-align: center;
}

.menu-title {
  font-size: 60px;
  line-height: 125%;
  margin-bottom: 40px;
}

.menu-title i {
  color: #B0907A;
}

.menu-tabs-tab-circle-icon {
  width: 16px;
  height: 16px;
  display: block;
}

.menu-tabs-tab-circle-icon.coffee {
  background: url("../icons/coffee.svg");
}

.menu-tabs-tab-circle-icon.tea{
  background: url("../icons/tea.svg");
}

.menu-tabs-tab-circle-icon.dessert {
  background: url("../icons/dessert.svg");
}

.menu-tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.menu-tabs-tab {
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  padding: 8px 16px 8px 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  height: 26px;
  cursor: pointer;
}

.clicked {
  background-color: #665F55;
  color: #E1D4C9;
}

.clicked .menu-tabs-tab-circle {
  background-color: #E1D4C9;
}

.menu-tabs-tab-circle {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-tabs-tab.clicked:hover {
  cursor: default;
}

.menu-tabs-tab:hover {
  background-color: #665F55;
  color: #E1D4C9;
  transition: all 0.5s ease;
}

.menu-tabs-tab:hover .menu-tabs-tab-circle {
  background-color: #E1D4C9;
}

.menu-collection {
  display: grid;
  grid-template-columns: repeat(4, 310px);
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 70px;
  justify-content: space-between;
}

.menu-collection-item {
  width: 310px;
  height: 506px;
  border-radius: 40px;
  border: 2px solid #C1B6AD;
  cursor: pointer;
}

.menu-collection-item-img-wrapper {
  border-radius: 40px;
  overflow: hidden;
}

.menu-collection-item-img-wrapper img {
  transform: scale(1.1);
  background-position: center;
}

.menu-collection-item:hover img {
  transition: transform 0.5s ease;
  transform: scale(1.05);
}

.menu-collection-item-caption {
  padding: 20px;
}

.menu-collection-item-caption-title {
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 12px;
}

.menu-collection-item-caption-desc {
  line-height: 150%;
  font-weight: 300;
  margin-bottom: 12px;
}

.menu-collection-item-caption-price {
  font-size: 24px;
  line-height: 125%;
}

.menu-item-wrapper {
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(64, 63, 61, 0.80);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.menu-item-content {
  z-index: 100000;
  width: 800px;
  background-color: #E1D4C9;
  height: 504px;
  border-radius: 40px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.menu-item-content-column1 img {
  border-radius: 40px;
}

.menu-item-content-column2 {
  width: 438px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item-content-column2-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-item-content-column2-text-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.menu-item-content-column2-text-subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.menu-item-content-column2-size {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item-content-column2-size-text {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%
}

.menu-item-content-column2-size-buttons {
  display: flex;
  gap: 8px;
}

.menu-item-content-column2-size-buttons-btn {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: 116px;
  height: 46px;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  color: #403F3D;
  background-color: #E1D4C9;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}

.menu-item-content-column2-size-buttons-btn span {
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  background-color: #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.menu-item-content-column2-size-buttons-btn:hover {
  color: var(--text-light, #E1D4C9);
  background-color: #665F55;
  cursor: pointer;
}

.menu-item-content-column2-size-buttons-btn:hover span {
  background-color: #E1D4C9;
  color: #403F3D;
}

.menu-item-content-column2-size-buttons-btn.chosen {
  color: var(--text-light, #E1D4C9);
  background-color: #665F55;
  cursor: default;
}

.menu-item-content-column2-size-buttons-btn.chosen span {
  background-color: #E1D4C9;
  color: #403F3D;
}

.menu-item-content-column2-add {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item-content-column2-add-text {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%
}

.menu-item-content-column2-add-buttons {
  display: flex;
  gap: 8px;
}

.menu-item-content-column2-add-buttons-btn {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: auto;
  height: 46px;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  color: #403F3D;
  background-color: #E1D4C9;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}

.menu-item-content-column2-add-buttons-btn span {
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  background-color: #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.menu-item-content-column2-add-buttons-btn:hover {
  color: var(--text-light, #E1D4C9);
  background-color: #665F55;
  cursor: pointer;
}

.menu-item-content-column2-add-buttons-btn:hover span {
  background-color: #E1D4C9;
  color: #403F3D;
}

.menu-item-content-column2-add-buttons-btn.chosen {
  color: var(--text-light, #E1D4C9);
  background-color: #665F55;
}

.menu-item-content-column2-add-buttons-btn.chosen span {
  background-color: #E1D4C9;
  color: #403F3D;
}

.menu-item-content-column2-total {
  display: flex;
  justify-content: space-between;
}

.menu-item-content-column2-total-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.menu-item-content-column2-total-price {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.menu-item-content-column2-warning {
  display: flex;
  gap: 8px;
  padding: 12px 0px;
  border-top: 1px solid var(--border-light, #C1B6AD);
}

.menu-item-content-column2-warning span {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: 1px solid #403F3D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.menu-item-content-column2-warning-text {
  margin: 0;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  width: 414px; 
}

.menu-item-content-column2-submit-btn {
  width: 100%;
  padding: 10px 78px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  height: 44px;
  background-color: #E1D4C9;
  cursor: pointer;
}

.menu-item-content-column2-submit-btn:hover {
  color: var(--text-light, #E1D4C9);
  background-color: #665F55;
}

@media (max-width: 1430px) {
  .menu-collection {
    grid-template-columns: repeat(3, 310px);
    gap: 40px;
  }
}

@media (max-width: 1125px) {
  .menu-collection {
    grid-template-columns: repeat(2, 310px);
    justify-content: space-around;
    gap: 40px;
  }
}